$border-radius :10px;
$border-radius_sm : 5px;
$border-radius_l: 4px;
$font-family: 'Mulish';
$small-text: 12px;
$font-size-primary: 14px;
$font-size-secondary: 16px;
$font-size-lg: 18px;
$black : #000000;
$primary-white: #ffffff;
$background-blue: #144D92;
$gray-border: 1px solid rgba(0, 0, 0, 0.08);
$_card_background_cl: rgba(20, 77, 146, 0.02);
$_card_bg_cl : rgba(20, 77, 146, 0.05);
$_card-border_cl: 1px solid rgba(20, 77, 146, 0.7);
$header_bg_cl : #F2F8FE;
$space : 20px;
$font_weight_sm: 400;
$font_weight_lg: 600;
$font_weight_xl: 700;
$opacity: 1;
$_opacity-s: 0.4;
$_opacity-m: 0.6;
$_opacity-l: 0.8;
$text_cl: #32324D;
$records_txt_cl : rgba(3, 26, 50, 0.8);
$reacrd_span_cl :#F8F9FA;
$box_border: #E7E7E7;
$_Image_background_cl: #EEEEEE;
$_card_border_gray: 1px solid  rgba(231, 231, 231, 0.6);
$select_input_border: 1px solid rgba(220, 220, 228, 1);
$sideNav_txt_cl : #78909C;
$text_lgt-cl: rgba(0, 0, 0, 0.5);
$btn_background: rgba(254, 254, 254, 1);
$cursor : pointer;
$_text_h4_cl: rgba(50, 50, 77, 0.8);
$_text_edit_p_cl: rgba(3, 26, 50, 0.4);
$error : 1px solid #962424;
$_input_border: 1px solid #DCDCE4;
$_input_txt_cl: #8E8EA9;
$model_txt_cl : #495B64;
$_uploadImg_border_cl :  1px solid #E3E3E3;
$viewMode_bg_cl: #FBFBFB;
$btn_bg_cl: #FEFEFE;
$btn-border: 1px solid #DEDEDE;
$_fitlter_border: 1px solid #D8D8D8;
$published_cl: #0D8C1C;
$published_bg_cl:  #F6FEF5;
$draft_cl: #5C7683;
$draft_bg_cl: #F5F6F8;
$_popUp_border: 1px solid #EAEAEF;
